@import "../../node_modules/bootstrap/scss/bootstrap";
$primaryColorRed: #C44D45;
$secondaryColorBlack: #323232;
$additionalColorBlue: #006494;
//спецификация
body{
  font-family: "Lucida Grande", sans-serif;
}

ul li a{
  text-decoration: none;
  margin:0;
  padding:0;
}

nav{
  color: $secondaryColorBlack;
  display: inline-block;
}

.logo img{
  height:61px;
  width:144px;
}