<!doctype html>
<html lang='ru'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<%= assetFingerprint('/css/styles.css') %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>UL Season Neptune</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class = 'nav'>
                        <ul class = 'nav__left'>
                            <li class = 'nav__left__item'>
                                <a href="/">Информация</a>
                            </li>
                            <li class = 'nav__left__item'>
                                <a href="/">Регистрация</a>
                            </li>
                        </ul>
                        <div class="logo">
                            <img src="images/logo_DreamBig.png" alt="logo" class = img-fluid>
                        </div>
                        <ul class = 'nav__right'>
                            <li class = 'nav__right__item'>
                                <a href="/">Сотрудничество</a>
                            </li>
                            <li class = 'nav__right__item'>
                                <a href="/">Контакты</a>
                            </li>
                        </ul>
                        <span class = 'burger'>
                            <i class="fas fa-bars"></i>
                        </span>
                    </nav>
                </div> <!--col-12-->
            </div> <!--row-->
        </div> <!--container-fluid-->
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 season">
                <img src="/images/back.png" alt="waves" class = 'img-fluid season__background'>
                <div class="title">
                    <div class="title__white">
                        <h1>SEASON</h1>
                    </div>
                    <div class="title__blue">
                        <h1>NEPTUNE</h1>
                    </div>
                    <img src="/images/logo_Neptune.png" alt="logo_Neptune" class = 'img-fluid logoNeptune'>
                    <div class="title__white season__under">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                            Adipisci alias at commodi fugiat
                            impedit iste magnam, modi officia officiis,
                            perferendis quia ratione sit.
                            Architecto at distinctio nobis quod
                            soluta ullam.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--wrapper-->
</div>

</body>
</html>